<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <include resource="./logback/prod-file-logger.xml"/>
  <include resource="./logback/local-file-logger.xml"/>
  <include resource="./logback/test-file-logger.xml"/>

  <springProfile name="prod">
    <logger name="com.woowacourse.pickgit" level="INFO">
      <appender-ref ref="prod-file-logger"/>
    </logger>
    <logger name="org.springframework" level="INFO">
      <appender-ref ref="prod-file-logger"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG">
      <appender-ref ref="prod-file-logger"/>
    </logger>
  </springProfile>

  <springProfile name="local">
    <logger name="com.woowacourse.pickgit" level="INFO">
      <appender-ref ref="local-file-logger"/>
    </logger>
    <logger name="org.springframework" level="INFO">
      <appender-ref ref="local-file-logger"/>
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG">
      <appender-ref ref="local-file-logger"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG">
      <appender-ref ref="local-file-logger"/>
    </logger>
    <logger name="org.hibernate.type" level="TRACE">
      <appender-ref ref="local-file-logger"/>
    </logger>
    <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN">
      <appender-ref ref="local-file-logger"/>
    </logger>
  </springProfile>

  <springProfile name="test">
    <logger name="com.woowacourse.pickgit" level="INFO">
      <appender-ref ref="test-file-logger"/>
    </logger>
    <logger name="org.springframework" level="INFO">
      <appender-ref ref="test-file-logger"/>
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG">
      <appender-ref ref="test-file-logger"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG">
      <appender-ref ref="test-file-logger"/>
    </logger>
    <logger name="org.hibernate.type" level="TRACE">
      <appender-ref ref="test-file-logger"/>
    </logger>
    <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN">
      <appender-ref ref="test-file-logger"/>
    </logger>
  </springProfile>
</configuration>
