<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <springProfile name="prod, dev">
    <include resource="logback/error-logger.xml"/>
    <include resource="logback/warn-logger.xml"/>
    <include resource="logback/info-logger.xml"/>
    <include resource="logback/db-logger.xml"/>
    <logger name="com.woowacourse.pickgit" level="info">
      <appender-ref ref="error-logger"/>
      <appender-ref ref="warn-logger"/>
      <appender-ref ref="info-logger"/>
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
      <appender-ref ref="error-logger"/>
      <appender-ref ref="warn-logger"/>
      <appender-ref ref="info-logger"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" level="debug" additivity="false">
      <appender-ref ref="db-logger"/>
    </logger>
  </springProfile>

  <springProfile name="local, test">
    <include resource="logback/test/test-basic-logger.xml"/>
    <logger name="com.woowacourse.pickgit" level="info">
      <appender-ref ref="test-basic-logger"/>
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
      <appender-ref ref="test-basic-logger"/>
    </logger>
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">-->
<!--      <appender-ref ref="test-basic-logger"/>-->
<!--    </logger>-->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" additivity="false">-->
<!--      <appender-ref ref="test-basic-logger"/>-->
<!--    </logger>-->
  </springProfile>
</configuration>
