<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="./logback/prod/prod-access-logger.xml"/>
  <include resource="./logback/local/local-access-logger.xml"/>
  <include resource="./logback/test/test-access-logger.xml"/>

  <springProfile name="prod">
    <appender-ref ref="prod-access-logger"/>
  </springProfile>

  <springProfile name="local">
    <appender-ref ref="local-access-logger"/>
  </springProfile>

  <springProfile name="test">
    <appender-ref ref="test-access-logger"/>
  </springProfile>
</configuration>
