<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name="prod, dev">
    <include resource="access/access-logger.xml"/>
    <appender-ref ref="access-logger"/>
  </springProfile>

  <springProfile name="local, test">
    <include resource="access/test-access-logger.xml"/>
    <appender-ref ref="test-access-logger"/>
  </springProfile>
</configuration>
