<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <springProfile name="prod">
    <include resource="logback/error-logger.xml"/>
    <include resource="logback/warn-logger.xml"/>
    <include resource="logback/info-logger.xml"/>
    <include resource="logback/db-logger.xml"/>
    <logger name="com.woowacourse.pickgit" level="INFO">
      <appender-ref ref="error-logger"/>
      <appender-ref ref="warn-logger"/>
      <appender-ref ref="info-logger"/>
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
      <appender-ref ref="error-logger"/>
      <appender-ref ref="warn-logger"/>
      <appender-ref ref="info-logger"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" additivity="false">
      <appender-ref ref="db-logger"/>
    </logger>
  </springProfile>

  <springProfile name="local">
    <include resource="logback/error-logger.xml"/>
    <include resource="logback/warn-logger.xml"/>
    <include resource="logback/info-logger.xml"/>
    <include resource="logback/db-logger.xml"/>
    <logger name="com.woowacourse.pickgit" level="INFO">
      <appender-ref ref="error-logger"/>
      <appender-ref ref="warn-logger"/>
      <appender-ref ref="info-logger"/>
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
      <appender-ref ref="error-logger"/>
      <appender-ref ref="warn-logger"/>
      <appender-ref ref="info-logger"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" additivity="false">
      <appender-ref ref="db-logger"/>
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
      <appender-ref ref="db-logger"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
      <appender-ref ref="db-logger"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE"
      additivity="false">
      <appender-ref ref="db-logger"/>
    </logger>
  </springProfile>

  <springProfile name="test">
    <include resource="logback/test/test-basic-logger.xml"/>
    <logger name="com.woowacourse.pickgit" level="TRACE">
      <appender-ref ref="test-basic-logger"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
      <appender-ref ref="test-basic-logger"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" additivity="false">
      <appender-ref ref="test-basic-logger"/>
    </logger>
  </springProfile>
</configuration>
