<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <springProfile name="prod, local">
    <property name="home" value="logs/"/>

    <appender name="error-logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${home}error.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${home}error-%d{yyyyMMdd}-%i.log</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <maxFileSize>15MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <maxHistory>30</maxHistory>
      </rollingPolicy>
      <encoder>
        <charset>utf8</charset>
        <Pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} %boldGreen(%-5level) %boldCyan(%t) %boldYellow(%class{36}).%boldMagenta(%M) %boldWhite(L:%L) %n %boldRed(     >) %m%n
        </Pattern>
      </encoder>
    </appender>

    <logger name="com.woowacourse.s3_proxy" level="INFO">
      <appender-ref ref="error-logger"/>
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
      <appender-ref ref="error-logger"/>
    </logger>
  </springProfile>

  <springProfile name="test">
    <appender name="test-basic-logger" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <charset>utf8</charset>
        <Pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} %boldGreen(%-5level) %boldCyan(%t) %boldYellow(%class{36}).%boldMagenta(%M) %boldWhite(L:%L) %n %boldRed(     >) %m%n
        </Pattern>
      </encoder>
    </appender>

    <logger name="com.woowacourse.s3_proxy" level="TRACE">
      <appender-ref ref="test-basic-logger"/>
    </logger>
  </springProfile>
</configuration>
